@font-face {
  font-family: Signika;
  src:  url('./assets/fonts/Signika-Bold.ttf')format('truetype'); 
  font-weight: bold;
}
@font-face {
  font-family: Signika;
  src:  url('./assets/fonts/Signika-SemiBold.ttf')format('truetype'); 
  font-weight: semilbold;
}
@font-face {
  font-family: Signika;
  src:  url('./assets/fonts/Signika-Regular.ttf')format('truetype'); 
  font-weight: regular;
}
@font-face {
  font-family: Gotham;
  src:  url('./assets/fonts/GothamBold.ttf')format('truetype'); 
  font-weight: bold;
}
@font-face {
  font-family: Gotham;
  src:  url('./assets/fonts/GothamMedium.ttf')format('truetype'); 
  font-weight: normal;
}
@font-face {
  font-family: Gotham;
  src:  url('./assets/fonts/GothamLight.ttf')format('truetype'); 
  font-weight: light;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}